<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p style="color:black;">Xin chào, <span th:text="${fullName}"></span></p>
<p style="color:black;"> Cảm ơn bạn đã đăng ký và tin tưởng sử dụng những dịch vụ của
    chúng tôi.</p>
<p style="color:black;">Bạn có thể đăng nhập vào <a href="www.devsphere.id.vn">SGU-TRIP</a> với</p>
<p style="color:black;">Tài khoản : <span th:text="${email}"></span></p>
<p style="color:black;">Mật khẩu : <span th:text="${password}"></span></p>
</div>

</body>
</html>