<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p style="color:black;">Xin chào, <span th:text="${name}"></span></p>
<p style="color:black;"> Cảm ơn bạn đã đăng ký và tin tưởng sử dụng những dịch vụ của
    chúng tôi.</p>
<div style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
    Để hoàn tất quá trình đăng ký, vui lòng xác minh địa chỉ email của bạn bằng cách nhấp
    vào liên kết:
    <p th:text="${url}"><a th:href="${url}"></a></p>
    hoặc click
    vào nút <span style="color:#31D7A9">Xác thực</span>
    bên dưới. <br>
</div>
<p>
    <a
            style="padding: 12px 24px; max-width: 120px;background-color: #31D7A9;text-decoration: none; color: white; border-radius: 40px; font-weight: 700;"
            th:href="${url}">
        Xác thực
    </a>
</p>

</body>
</html>